$font-primary: 'Cormorant Garamond', serif;
$font-italic: 'Dancing Script', cursive;

$text-color: #737373;

$color-white: #ffffff;
$color-black: #000000;

$color-blue-dark: #1B133E;
$color-blue-1: #3725F7;
$color-blue-2: #180A9C;
$color-blue-3: #5042C7;

$color-deep-grey: #4C4C7A;
$color-deep-grey-1: #625E87;
$color-deep-grey-3: #7E799D;

$grey-1: #EDEDED;
$grey-2: #A2A1A1;
$grey-3: #515A5F;
$grey-4: #82808B;

$bp-biggest: 79.375em; //1270px
$bp-largest: 72.125em; //1154px
$bp-medium-1: 59.375em; //950px
$bp-medium: 50.25em; //804px
$bp-tablet: 39.9375em; //622px
$bp-tablet-2: 36.5em; //584px
$bp-phone: 29.35em; //470px
$bp-small-phone: 22em // 352px