.admin-signin {
    background-image: linear-gradient(to right bottom, rgba(42, 68, 134, 0.589), rgba(90, 62, 143, 0.678)),
    url(../../assets/img/admin-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.dashboard-container {
    background-color: rgba($color: $grey-1, $alpha: .2);
    margin: 4rem 3rem;
    border-radius: 2rem;
    box-shadow: -1px 3px 16px -4px rgba(0,0,0,0.75);    
    padding: 4rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 2rem 1rem;
    }
}