.item {
    margin-top: 5rem;
    padding: 2rem;
    background-color: $grey-1;
    border-radius: 1rem;
    box-shadow: -1px 3px 8px 0px rgba(0,0,0,0.75);
    transition: all .2s;

    &__content {
        display: flex;
    }

    &__img {
        width: 30%;
        margin-right: 5%;

        & img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
    }

    &__details {
        display: flex;
    }

    &__detail {
        display: flex;
        
        margin-bottom: 2rem;
        & p {
            font-size: 1.7rem;
            font-weight: 800;
            
        }

        & span {
            font-size: 1.7rem;
            color: $color-blue-3;
            font-weight: 700;
        }

        &--name {
            margin-right: 6rem;
        }

        &--description {
            margin-right: 2rem;
        }

        &--unit {
            margin-right: 3rem;
        }

        &--price {
            margin-right: 5rem;
        }

        &--qty {
            margin-right: 6rem;
        }
    }

    &__spec {
        width: 30rem;
        margin-right: 3rem;
    }

    &__btn {
        padding: .4rem 2.4rem;
        margin-top: 3.2rem;
        background-color: $color-blue-3;
        color: $color-white;
        border: none;
        font-size: 2.3rem;
        cursor: pointer;
        border-radius: .5rem;
    }

    &:hover {
        box-shadow: 2px 3px 0px -200px rgba(0,0,0,0.75);
    }
}