.auth {
    background-color: rgba($color: $color-black, $alpha: .4);
    width: 30vw;
    margin: 0 auto;
    margin-top: 15vh;
    border-radius: 1.4rem;
    -webkit-box-shadow: 0px 2px 37px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 2px 37px -4px rgba(0,0,0,0.57);
    box-shadow: 0px 2px 37px -4px rgba(0,0,0,0.57);

    @media only screen and (max-width: $bp-largest) {
        width: 40vw;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 60vw;
    }

    @media only screen and (max-width: $bp-phone) {
        width: 80vw;
    }

    &__container {
        width: 60%;
        margin: 0 auto;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        @media only screen and (max-width: 1380px) {
            width: 80%;
        }
    }

    &__formGroup {
        margin-bottom: .5rem;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        &--icon {
            font-size: 1.5rem;
            margin-right: .6rem;
            color: orangered;
        }
    }

    &__form-input {
        background: $color-white;
        border: none;
        border-bottom: 1px solid $color-white;
        width: 90%;
        padding: .5rem;
        font-size: 1.6rem;
        padding: 1rem;


        &::placeholder {
            
            font-size: 1.5rem;
        }

        &:focus {
            outline: none;
        }
    }

    &__submit-btn {
        background-color: $color-blue-2;
        color: $color-white;
        font-size: 1.8rem;
        width: 90%;
        margin: 0 auto;
        border: none;
        padding: .8rem 0;
        cursor: pointer;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }

    &__google-btn {
        background-color: $color-black;
        width: 90%;
        margin: 0 auto;
        color: $color-white;
        font-size: 1.7rem;
        border: none;
        padding: .8rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: .7rem;
        margin-left: 2rem;
        
    }

    &__btn-icon {
        align-self: center;
        color: white;
        margin-right: 5px;
    }

    &__error-msg {
        color: red;
        font-size: 1.6rem;
        margin-left: 2vw;
    }
}